"""openapispecforclickhousecloud.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from openapispecforclickhousecloud.api_helper import (
    APIHelper,
)
from openapispecforclickhousecloud.apis.base_api import (
    BaseApi,
)
from openapispecforclickhousecloud.configuration import (
    Server,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_keys_400_error_exception import (  # noqa: E501
    V1OrganizationsKeys400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_keys_500_error_exception import (  # noqa: E501
    V1OrganizationsKeys500ErrorException,
)
from openapispecforclickhousecloud.http.http_method_enum import (
    HttpMethodEnum,
)
from openapispecforclickhousecloud.models.v_1_organizations_keys_response import (
    V1OrganizationsKeysResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_keys_response_1 import (
    V1OrganizationsKeysResponse1,
)
from openapispecforclickhousecloud.models.v_1_organizations_keys_response_2 import (
    V1OrganizationsKeysResponse2,
)
from openapispecforclickhousecloud.models.v_1_organizations_keys_response_4 import (
    V1OrganizationsKeysResponse4,
)


class ApiKeysApi(BaseApi):
    """A Controller to access Endpoints in the openapispecforclickhousecloud API."""

    def __init__(self, config):
        """Initialize ApiKeysApi object."""
        super(ApiKeysApi, self).__init__(config)

    def openapi_key_get_list(self,
                             organization_id,
                             limit=250,
                             cursor=None):
        """Perform a GET request to /v1/organizations/{organizationId}/keys.

        Returns a list of keys in the organization, ordered by creation date, oldest
        first. Results are capped at `limit` (default and maximum 250) per page.
        Every response carries `limit`, `totalCount` and `nextCursor`; pass
        `nextCursor` as the `cursor` query parameter to fetch the next page,
        repeating until it is null.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            limit (int, optional): Maximum number of results to return.
            cursor (str, optional): Opaque cursor from a previous response's
                `nextCursor`, marking where to resume the list.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/keys")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("cursor")
                .value(cursor))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsKeysResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsKeys400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsKeys500ErrorException),
        ).execute()

    def openapi_key_create(self,
                           organization_id,
                           body=None):
        """Perform a POST request to /v1/organizations/{organizationId}/keys.

        Creates new API key.

        Args:
            organization_id (uuid|str): ID of the organization that will own the key.
            body (ApiKeyPostRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/keys")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsKeysResponse1.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsKeys400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsKeys500ErrorException),
        ).execute()

    def openapi_key_get(self,
                        organization_id,
                        key_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/keys/{keyId}.

        Returns a single key details.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            key_id (uuid|str): ID of the requested key.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/keys/{keyId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("keyId")
                .value(key_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsKeysResponse2.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsKeys400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsKeys500ErrorException),
        ).execute()

    def openapi_key_update(self,
                           organization_id,
                           key_id,
                           body=None):
        """Perform a PATCH request to
        /v1/organizations/{organizationId}/keys/{keyId}.

        Updates API key properties.

        Args:
            organization_id (uuid|str): ID of the organization that owns the key.
            key_id (uuid|str): ID of the key to update.
            body (ApiKeyPatchRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/keys/{keyId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("keyId")
                .value(key_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsKeysResponse2.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsKeys400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsKeys500ErrorException),
        ).execute()

    def openapi_key_delete(self,
                           organization_id,
                           key_id):
        """Perform a DELETE request to
        /v1/organizations/{organizationId}/keys/{keyId}.

        Deletes API key. Only a key not used to authenticate the active request can
        be deleted.

        Args:
            organization_id (uuid|str): ID of the organization that owns the key.
            key_id (uuid|str): ID of the key to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/keys/{keyId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("keyId")
                .value(key_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsKeysResponse4.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsKeys400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsKeys500ErrorException),
        ).execute()
