"""openapispecforclickhousecloud.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from openapispecforclickhousecloud.api_helper import (
    APIHelper,
)
from openapispecforclickhousecloud.apis.base_api import (
    BaseApi,
)
from openapispecforclickhousecloud.configuration import (
    Server,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_backup_bucket_400_error_exception import (  # noqa: E501
    V1OrganizationsServicesBackupBucket400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_backup_bucket_500_error_exception import (  # noqa: E501
    V1OrganizationsServicesBackupBucket500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_backup_configuration_400_error_exception import (  # noqa: E501
    V1OrganizationsServicesBackupConfiguration400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_backup_configuration_500_error_exception import (  # noqa: E501
    V1OrganizationsServicesBackupConfiguration500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_backups_400_error_exception import (  # noqa: E501
    V1OrganizationsServicesBackups400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_backups_500_error_exception import (  # noqa: E501
    V1OrganizationsServicesBackups500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_backups_backup_id_400_error_exception import (  # noqa: E501
    V1OrganizationsServicesBackupsBackupId400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_backups_backup_id_500_error_exception import (  # noqa: E501
    V1OrganizationsServicesBackupsBackupId500ErrorException,
)
from openapispecforclickhousecloud.http.http_method_enum import (
    HttpMethodEnum,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_backup_bucket_response import (  # noqa: E501
    V1OrganizationsServicesBackupBucketResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_backup_bucket_response_3 import (  # noqa: E501
    V1OrganizationsServicesBackupBucketResponse3,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_backup_configuration_response import (  # noqa: E501
    V1OrganizationsServicesBackupConfigurationResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_backups_backup_id_response import (  # noqa: E501
    V1OrganizationsServicesBackupsBackupIdResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_backups_response import (  # noqa: E501
    V1OrganizationsServicesBackupsResponse,
)
from openapispecforclickhousecloud.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class BackupApi(BaseApi):
    """A Controller to access Endpoints in the openapispecforclickhousecloud API."""

    def __init__(self, config):
        """Initialize BackupApi object."""
        super(BackupApi, self).__init__(config)

    def backup_get_list(self,
                        organization_id,
                        service_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/services/{serviceId}/backups.

        Returns a list of all backups for the service. The most recent backups comes
        first in the list.

        Args:
            organization_id (uuid|str): ID of the organization that owns the backup.
            service_id (uuid|str): ID of the service the backup was created from.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/backups")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesBackupsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesBackups400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesBackups500ErrorException),
        ).execute()

    def backup_get(self,
                   organization_id,
                   service_id,
                   backup_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/services/{serviceId}/backups/{backupId}.

        Returns a single backup info.

        Args:
            organization_id (uuid|str): ID of the organization that owns the backup.
            service_id (uuid|str): ID of the service the backup was created from.
            backup_id (uuid|str): ID of the requested backup.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/backups/{backupId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("backupId")
                .value(backup_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesBackupsBackupIdResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesBackupsBackupId400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesBackupsBackupId500ErrorException),
        ).execute()

    def backup_configuration_get(self,
                                 organization_id,
                                 service_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/services/{serviceId}/backupConfiguration.

        Returns the service backup configuration.

        Args:
            organization_id (uuid|str): ID of the organization that owns the service.
            service_id (uuid|str): ID of the service.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/backupConfiguration")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesBackupConfigurationResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesBackupConfiguration400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesBackupConfiguration500ErrorException),
        ).execute()

    def backup_configuration_update(self,
                                    organization_id,
                                    service_id,
                                    body=None):
        """Perform a PATCH request to
        /v1/organizations/{organizationId}/services/{serviceId}/backupConfiguration.

        Updates service backup configuration. Requires ADMIN auth key role. Setting
        the properties with null value, will reset the properties to theirs default
        values.

        Args:
            organization_id (uuid|str): ID of the organization that owns the service.
            service_id (uuid|str): ID of the service.
            body (BackupConfigurationPatchRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/backupConfiguration")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesBackupConfigurationResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesBackupConfiguration400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesBackupConfiguration500ErrorException),
        ).execute()

    def backup_bucket_get(self,
                          organization_id,
                          service_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/services/{serviceId}/backupBucket.

        **This endpoint is in beta.** API contract is stable, and no breaking changes
        are expected in the future. <br /><br /> Returns the service backup bucket.

        Args:
            organization_id (uuid|str): ID of the organization that owns the service.
            service_id (uuid|str): ID of the service.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/backupBucket")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesBackupBucketResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesBackupBucket400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesBackupBucket500ErrorException),
        ).execute()

    def backup_bucket_create(self,
                             organization_id,
                             service_id,
                             body=None):
        """Perform a POST request to
        /v1/organizations/{organizationId}/services/{serviceId}/backupBucket.

        **This endpoint is in beta.** API contract is stable, and no breaking changes
        are expected in the future. <br /><br /> Create service backup bucket.
        Requires ADMIN auth key role.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            service_id (uuid|str): ID of the requested service.
            body (AwsBackupBucketPostRequestV1 | GcpBackupBucketPostRequestV1 |
                AzureBackupBucketPostRequestV1 | None, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/backupBucket")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .validator(lambda value: UnionTypeLookUp
                    .get("BackupBucketPostRequest").validate(value)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesBackupBucketResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesBackupBucket400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesBackupBucket500ErrorException),
        ).execute()

    def backup_bucket_update(self,
                             organization_id,
                             service_id,
                             body=None):
        """Perform a PATCH request to
        /v1/organizations/{organizationId}/services/{serviceId}/backupBucket.

        **This endpoint is in beta.** API contract is stable, and no breaking changes
        are expected in the future. <br /><br /> Update service backup bucket.
        Requires ADMIN auth key role. The secrets of the specified bucket provider
        are always required

        Args:
            organization_id (uuid|str): ID of the requested organization.
            service_id (uuid|str): ID of the requested service.
            body (AwsBackupBucketPatchRequestV1 | GcpBackupBucketPatchRequestV1 |
                AzureBackupBucketPatchRequestV1 | None, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/backupBucket")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .validator(lambda value: UnionTypeLookUp
                    .get("BackupBucketPatchRequest").validate(value)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesBackupBucketResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesBackupBucket400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesBackupBucket500ErrorException),
        ).execute()

    def backup_bucket_delete(self,
                             organization_id,
                             service_id):
        """Perform a DELETE request to
        /v1/organizations/{organizationId}/services/{serviceId}/backupBucket.

        **This endpoint is in beta.** API contract is stable, and no breaking changes
        are expected in the future. <br /><br /> Delete service backup bucket.
        Requires ADMIN auth key role.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            service_id (uuid|str): ID of the requested service.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/backupBucket")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesBackupBucketResponse3.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesBackupBucket400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesBackupBucket500ErrorException),
        ).execute()
