"""openapispecforclickhousecloud.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from deprecation import deprecated

from openapispecforclickhousecloud.api_helper import (
    APIHelper,
)
from openapispecforclickhousecloud.apis.base_api import (
    BaseApi,
)
from openapispecforclickhousecloud.configuration import (
    Server,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_active_balances_400_error_exception import (  # noqa: E501
    V1OrganizationsActiveBalances400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_active_balances_500_error_exception import (  # noqa: E501
    V1OrganizationsActiveBalances500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_credit_balances_400_error_exception import (  # noqa: E501
    V1OrganizationsCreditBalances400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_credit_balances_500_error_exception import (  # noqa: E501
    V1OrganizationsCreditBalances500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_usage_cost_400_error_exception import (  # noqa: E501
    V1OrganizationsUsageCost400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_usage_cost_500_error_exception import (  # noqa: E501
    V1OrganizationsUsageCost500ErrorException,
)
from openapispecforclickhousecloud.http.http_method_enum import (
    HttpMethodEnum,
)
from openapispecforclickhousecloud.models.v_1_organizations_active_balances_response import (  # noqa: E501
    V1OrganizationsActiveBalancesResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_credit_balances_response import (  # noqa: E501
    V1OrganizationsCreditBalancesResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_usage_cost_response import (
    V1OrganizationsUsageCostResponse,
)


class BillingApi(BaseApi):
    """A Controller to access Endpoints in the openapispecforclickhousecloud API."""

    def __init__(self, config):
        """Initialize BillingApi object."""
        super(BillingApi, self).__init__(config)

    def usage_cost_get(self,
                       organization_id,
                       from_date,
                       to_date,
                       filter=None):
        """Perform a GET request to
        /v1/organizations/{organizationId}/usageCost.

        Returns a grand total and a list of daily, per-entity organization usage cost
        records for the organization in the queried time period (maximum 31 days).
        All days in both the request and the response are evaluated based on the UTC
        timezone.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            from_date (date): Start date for the report, e.g. 2024-12-19.
            to_date (date): End date (inclusive) for the report, e.g. 2024-12-20.
                This date cannot be more than 30 days after from_date (for a maximum
                queried period of 31 days).
            filter (List[str], optional): Filter criteria to apply when retrieving
                the usage cost report. Currently, only filtering by resource tags is
                supported.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/usageCost")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("from_date")
                .value(from_date)
                .is_required(True))
            .query_param(Parameter()
                .key("to_date")
                .value(to_date)
                .is_required(True))
            .query_param(Parameter()
                .key("filter")
                .value(filter))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsUsageCostResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsUsageCost400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsUsageCost500ErrorException),
        ).execute()

    @deprecated()
    def active_balances_get(self,
                            organization_id,
                            limit=100,
                            offset=0):
        """Perform a GET request to
        /v1/organizations/{organizationId}/activeBalances.

        DEPRECATED. Use the `/v1/organizations/{organizationId}/creditBalances`
        endpoint instead. <br /><br /> Returns the active prepaid credit balances for
        the organization, each with its own balance ID and remaining credits, along
        with the total remaining credits across all active balances. A balance is
        active when it has started, has not expired, and has credits remaining.
        Balances are ordered by expiration date, soonest first, and the returned page
        is capped at `limit` (default and maximum 100). When `totalCount` exceeds the
        number of returned balances, page with `limit`/`offset` to retrieve them all.
        `totalRemainingPrepaidCredits` always covers every active balance, not just
        the returned page.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            limit (int, optional): Maximum number of results to return.
            offset (int, optional): Number of results to skip before returning.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/activeBalances")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("offset")
                .value(offset))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsActiveBalancesResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsActiveBalances400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsActiveBalances500ErrorException),
        ).execute()

    def credit_balances_get(self,
                            organization_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/creditBalances.

        **Disclaimer:** This beta endpoint is evolving; the API contract may change.
        <br /><br /> Returns the active credit balances for the organization, each
        with its own balance ID, type and remaining credits, along with the total
        remaining credits across all of them. A balance is active when it has
        started, has not expired, and has credits remaining. Balances are ordered by
        expiration date, soonest first. The list is always present and is empty when
        the organization has no active balances.

        Args:
            organization_id (uuid|str): ID of the requested organization.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/creditBalances")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsCreditBalancesResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsCreditBalances400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsCreditBalances500ErrorException),
        ).execute()
