"""openapispecforclickhousecloud.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from deprecation import deprecated

from openapispecforclickhousecloud.api_helper import (
    APIHelper,
)
from openapispecforclickhousecloud.apis.base_api import (
    BaseApi,
)
from openapispecforclickhousecloud.configuration import (
    Server,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_400_error_exception import (  # noqa: E501
    V1Organizations400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_500_error_exception import (  # noqa: E501
    V1Organizations500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_activities_400_error_exception import (  # noqa: E501
    V1OrganizationsActivities400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_activities_500_error_exception import (  # noqa: E501
    V1OrganizationsActivities500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_byoc_infrastructure_400_error_exception import (  # noqa: E501
    V1OrganizationsByocInfrastructure400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_byoc_infrastructure_500_error_exception import (  # noqa: E501
    V1OrganizationsByocInfrastructure500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_private_endpoint_config_400_error_exception import (  # noqa: E501
    V1OrganizationsPrivateEndpointConfig400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_private_endpoint_config_500_error_exception import (  # noqa: E501
    V1OrganizationsPrivateEndpointConfig500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_quotas_400_error_exception import (  # noqa: E501
    V1OrganizationsQuotas400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_quotas_500_error_exception import (  # noqa: E501
    V1OrganizationsQuotas500ErrorException,
)
from openapispecforclickhousecloud.http.http_method_enum import (
    HttpMethodEnum,
)
from openapispecforclickhousecloud.models.v_1_organizations_activities_response import (
    V1OrganizationsActivitiesResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_activities_response_1 import (  # noqa: E501
    V1OrganizationsActivitiesResponse1,
)
from openapispecforclickhousecloud.models.v_1_organizations_byoc_infrastructure_response import (  # noqa: E501
    V1OrganizationsByocInfrastructureResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_byoc_infrastructure_response_1 import (  # noqa: E501
    V1OrganizationsByocInfrastructureResponse1,
)
from openapispecforclickhousecloud.models.v_1_organizations_private_endpoint_config_response import (  # noqa: E501
    V1OrganizationsPrivateEndpointConfigResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_quotas_response import (
    V1OrganizationsQuotasResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_quotas_response_1 import (
    V1OrganizationsQuotasResponse1,
)
from openapispecforclickhousecloud.models.v_1_organizations_response import (
    V1OrganizationsResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_response_1 import (
    V1OrganizationsResponse1,
)


class OrganizationApi(BaseApi):
    """A Controller to access Endpoints in the openapispecforclickhousecloud API."""

    def __init__(self, config):
        """Initialize OrganizationApi object."""
        super(OrganizationApi, self).__init__(config)

    def organization_get_list(self):
        """Perform a GET request to /v1/organizations.

        Returns a list with a single organization associated with the API key in the
        request.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1Organizations400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1Organizations500ErrorException),
        ).execute()

    def organization_get(self,
                         organization_id):
        """Perform a GET request to /v1/organizations/{organizationId}.

        Returns details of a single organization. In order to get the details, the
        auth key must belong to the organization.

        Args:
            organization_id (uuid|str): ID of the requested organization.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsResponse1.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1Organizations400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1Organizations500ErrorException),
        ).execute()

    def organization_update(self,
                            organization_id,
                            body=None):
        """Perform a PATCH request to /v1/organizations/{organizationId}.

        Updates organization fields. Requires ADMIN auth key role.

        Args:
            organization_id (uuid|str): ID of the organization to update.
            body (OrganizationPatchRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsResponse1.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1Organizations400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1Organizations500ErrorException),
        ).execute()

    def organization_quotas_get_list(self,
                                     organization_id):
        """Perform a GET request to /v1/organizations/{organizationId}/quotas.

        **Disclaimer:** This beta endpoint is evolving; the API contract may change.
        <br /><br /> Returns the resource quotas enforced for the organization
        together with their current usage where available. Quotas that do not apply
        to the organization are omitted. Quota values reflect the limits currently
        enforced, so they can be polled to detect changes, for example after a
        billing status change. The response contains one entry per quota code; quotas
        enforced per resource may additionally appear under resource-scoped endpoints
        in the future.

        Args:
            organization_id (uuid|str): ID of the requested organization.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/quotas")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsQuotasResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsQuotas400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsQuotas500ErrorException),
        ).execute()

    def organization_quota_get(self,
                               organization_id,
                               quota_code):
        """Perform a GET request to
        /v1/organizations/{organizationId}/quotas/{quotaCode}.

        **Disclaimer:** This beta endpoint is evolving; the API contract may change.
        <br /><br /> Returns a single organization quota identified by its quota
        code. Responds with a not found error when the quota code is unknown or the
        quota does not apply to the organization.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            quota_code (str): Code of the requested quota.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/quotas/{quotaCode}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("quotaCode")
                .value(quota_code)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsQuotasResponse1.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsQuotas400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsQuotas500ErrorException),
        ).execute()

    def activity_get_list(self,
                          organization_id,
                          from_date=None,
                          to_date=None):
        """Perform a GET request to
        /v1/organizations/{organizationId}/activities.

        Returns a list of all organization activities.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            from_date (datetime, optional): A starting date for a search
            to_date (datetime, optional): An ending date for a search

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/activities")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("from_date")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    from_date)))
            .query_param(Parameter()
                .key("to_date")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    to_date)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsActivitiesResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsActivities400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsActivities500ErrorException),
        ).execute()

    def activity_get(self,
                     organization_id,
                     activity_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/activities/{activityId}.

        Returns a single organization activity by ID.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            activity_id (str): ID of the requested activity.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/activities/{activityId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("activityId")
                .value(activity_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsActivitiesResponse1.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsActivities400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsActivities500ErrorException),
        ).execute()

    @deprecated()
    def organization_private_endpoint_config_get_list(self,
                                                      organization_id,
                                                      cloud_provider,
                                                      region_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/privateEndpointConfig.

        Deprecated. Please follow
        [documentation](https://clickhouse.com/docs/manage/security/aws-privatelink#ad
        d-endpoint-id-to-services-allow-list) for the updated process.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            cloud_provider (str): Cloud provider identifier. One of aws, gcp, or
                azure.
            region_id (str): Region identifier within specific cloud providers.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/privateEndpointConfig")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("cloud_provider")
                .value(cloud_provider)
                .is_required(True))
            .query_param(Parameter()
                .key("region_id")
                .value(region_id)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsPrivateEndpointConfigResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsPrivateEndpointConfig400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsPrivateEndpointConfig500ErrorException),
        ).execute()

    def organization_byoc_infrastructure_create(self,
                                                organization_id,
                                                body=None):
        """Perform a POST request to
        /v1/organizations/{organizationId}/byocInfrastructure.

        Create a new BYOC Infrastructure in the organization. Returns the
        configuration of the newly created infrastructure

        Args:
            organization_id (uuid|str): ID of the requested organization.
            body (ByocInfrastructurePostRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/byocInfrastructure")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsByocInfrastructureResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsByocInfrastructure400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsByocInfrastructure500ErrorException),
        ).execute()

    def organization_byoc_infrastructure_delete(self,
                                                organization_id,
                                                byoc_infrastructure_id):
        """Perform a DELETE request to
        /v1/organizations/{organizationId}/byocInfrastructure/{byocInfrastructureId}.

        Removes a BYOC Infrastructure from the organization

        Args:
            organization_id (uuid|str): ID of the requested organization.
            byoc_infrastructure_id (uuid|str): ID of the requested BYOC Infrastructure

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/byocInfrastructure/{byocInfrastructureId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("byocInfrastructureId")
                .value(byoc_infrastructure_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsByocInfrastructureResponse1.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsByocInfrastructure400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsByocInfrastructure500ErrorException),
        ).execute()

    def organization_byoc_infrastructure_update(self,
                                                organization_id,
                                                byoc_infrastructure_id,
                                                body=None):
        """Perform a PATCH request to
        /v1/organizations/{organizationId}/byocInfrastructure/{byocInfrastructureId}.

        Update configuration of the BYOC infrastructure. Returns the modified
        infrastructure

        Args:
            organization_id (uuid|str): ID of the requested organization.
            byoc_infrastructure_id (uuid|str): ID of the requested BYOC Infrastructure
            body (ByocInfrastructurePatchRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/byocInfrastructure/{byocInfrastructureId}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("byocInfrastructureId")
                .value(byoc_infrastructure_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsByocInfrastructureResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsByocInfrastructure400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsByocInfrastructure500ErrorException),
        ).execute()
