"""openapispecforclickhousecloud.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from deprecation import deprecated

from openapispecforclickhousecloud.api_helper import (
    APIHelper,
)
from openapispecforclickhousecloud.apis.base_api import (
    BaseApi,
)
from openapispecforclickhousecloud.configuration import (
    Server,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_postgres_prometheus_400_error_exception import (  # noqa: E501
    V1OrganizationsPostgresPrometheus400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_postgres_prometheus_500_error_exception import (  # noqa: E501
    V1OrganizationsPostgresPrometheus500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_prometheus_400_error_exception import (  # noqa: E501
    V1OrganizationsPrometheus400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_prometheus_500_error_exception import (  # noqa: E501
    V1OrganizationsPrometheus500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_prometheus_discovery_400_error_exception import (  # noqa: E501
    V1OrganizationsPrometheusDiscovery400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_prometheus_discovery_500_error_exception import (  # noqa: E501
    V1OrganizationsPrometheusDiscovery500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_prometheus_400_error_exception import (  # noqa: E501
    V1OrganizationsServicesPrometheus400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_prometheus_500_error_exception import (  # noqa: E501
    V1OrganizationsServicesPrometheus500ErrorException,
)
from openapispecforclickhousecloud.http.http_method_enum import (
    HttpMethodEnum,
)
from openapispecforclickhousecloud.models.prometheus_discovery_target_group import (
    PrometheusDiscoveryTargetGroup,
)


class PrometheusApi(BaseApi):
    """A Controller to access Endpoints in the openapispecforclickhousecloud API."""

    def __init__(self, config):
        """Initialize PrometheusApi object."""
        super(PrometheusApi, self).__init__(config)

    @deprecated()
    def organization_prometheus_get(self,
                                    organization_id,
                                    filtered_metrics=None):
        """Perform a GET request to
        /v1/organizations/{organizationId}/prometheus.

        Deprecated. Use the Prometheus service discovery endpoint
        (/v1/organizations/{organizationId}/prometheus/discovery) instead. This
        endpoint is not available for new organizations; contact ClickHouse support
        to request access. Returns Prometheus metrics for the services in an
        organization that the caller is authorized to view. Services the caller lacks
        view access to are omitted.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            filtered_metrics (str, optional): Return a filtered list of Prometheus
                metrics.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/prometheus")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("filtered_metrics")
                .value(filtered_metrics))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsPrometheus400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsPrometheus500ErrorException),
        ).execute()

    def organization_prometheus_discovery_get(self,
                                              organization_id,
                                              filtered_metrics=None):
        """Perform a GET request to
        /v1/organizations/{organizationId}/prometheus/discovery.

        Returns one Prometheus scrape target per service in the organization, in the
        [HTTP service
        discovery](https://prometheus.io/docs/prometheus/latest/http_sd/) (`http_sd`)
        format. Only services the API key is authorized to view are included;
        services that are being deleted or have been deleted are omitted.
        Point an
        [`http_sd_configs`](https://prometheus.io/docs/prometheus/latest/configuration
        /configuration/#http_sd_config) job at this endpoint to discover and scrape
        all services in the organization automatically. Prometheus refreshes the
        target list on every discovery poll, so newly created and deleted services
        are picked up without configuration changes.
        Discovered targets scrape with `filtered_metrics=true` by default; pass
        `?filtered_metrics=false` to this endpoint to discover unfiltered targets.
        See the [Prometheus integration
        guide](https://clickhouse.com/docs/integrations/prometheus) for more on the
        exported metrics.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            filtered_metrics (str, optional): Whether discovered targets scrape a
                filtered list of metrics. Sets the filtered_metrics parameter on each
                discovered target. Defaults to true.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/prometheus/discovery")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("filtered_metrics")
                .value(filtered_metrics))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PrometheusDiscoveryTargetGroup.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsPrometheusDiscovery400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsPrometheusDiscovery500ErrorException),
        ).execute()

    def instance_prometheus_get(self,
                                organization_id,
                                service_id,
                                filtered_metrics=None):
        """Perform a GET request to
        /v1/organizations/{organizationId}/services/{serviceId}/prometheus.

        Returns prometheus metrics for a service.

        Args:
            organization_id (uuid|str): ID of the organization that owns the service.
            service_id (uuid|str): ID of the requested service.
            filtered_metrics (str, optional): Return a filtered list of Prometheus
                metrics.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/prometheus")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("filtered_metrics")
                .value(filtered_metrics))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesPrometheus400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesPrometheus500ErrorException),
        ).execute()

    def postgres_org_prometheus_get(self,
                                    organization_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/postgres/prometheus.

        **Disclaimer:** This beta endpoint is evolving; the API contract may change.
        <br /><br /> Returns Prometheus metrics for all PostgreSQL services in an
        organization. Maximum 100 services supported.

        Args:
            organization_id (uuid|str): ID of the requested organization.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/postgres/prometheus")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsPostgresPrometheus400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsPostgresPrometheus500ErrorException),
        ).execute()

    def postgres_instance_prometheus_get(self,
                                         organization_id,
                                         postgres_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/postgres/{postgresId}/prometheus.

        **Disclaimer:** This beta endpoint is evolving; the API contract may change.
        <br /><br /> Returns Prometheus metrics for a PostgreSQL service.

        Args:
            organization_id (uuid|str): ID of the organization that owns the Postgres
                service.
            postgres_id (uuid|str): ID of the requested Postgres service.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/postgres/{postgresId}/prometheus")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("postgresId")
                .value(postgres_id)
                .is_required(True)
                .should_encode(True))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsPostgresPrometheus400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsPostgresPrometheus500ErrorException),
        ).execute()
