"""openapispecforclickhousecloud.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from openapispecforclickhousecloud.api_helper import (
    APIHelper,
)
from openapispecforclickhousecloud.apis.base_api import (
    BaseApi,
)
from openapispecforclickhousecloud.configuration import (
    Server,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_query_api_endpoints_400_error_exception import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpoints400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_query_api_endpoints_403_error_exception import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpoints403ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_query_api_endpoints_404_error_exception import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpoints404ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_query_api_endpoints_500_error_exception import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpoints500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_query_api_endpoints_endpoint_id_400_error_3_exception import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpointsEndpointId400Error3Exception,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_query_api_endpoints_endpoint_id_400_error_exception import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpointsEndpointId400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_query_api_endpoints_endpoint_id_403_error_exception import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpointsEndpointId403ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_query_api_endpoints_endpoint_id_404_error_exception import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpointsEndpointId404ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_query_api_endpoints_endpoint_id_409_error_exception import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpointsEndpointId409ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_query_api_endpoints_endpoint_id_500_error_exception import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpointsEndpointId500ErrorException,
)
from openapispecforclickhousecloud.http.http_method_enum import (
    HttpMethodEnum,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_query_api_endpoints_endpoint_id_response import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_query_api_endpoints_endpoint_id_response_1 import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_query_api_endpoints_response import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpointsResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_query_api_endpoints_response_1 import (  # noqa: E501
    V1OrganizationsServicesQueryApiEndpointsResponse1,
)


class QueryApiEndpointsApi(BaseApi):
    """A Controller to access Endpoints in the openapispecforclickhousecloud API."""

    def __init__(self, config):
        """Initialize QueryApiEndpointsApi object."""
        super(QueryApiEndpointsApi, self).__init__(config)

    def query_api_endpoint_create(self,
                                  organization_id,
                                  service_id,
                                  body=None):
        """Perform a POST request to
        /v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints.

        **Disclaimer:** This beta endpoint is evolving; the API contract may change.
        <br /><br /> Creates a Query API endpoint.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            service_id (uuid|str): ID of the requested service.
            body (PublicQueryApiEndpointRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The Query API endpoint
                was created.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesQueryApiEndpointsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error.",
                V1OrganizationsServicesQueryApiEndpoints400ErrorException)
            .local_error("403",
                "The request is forbidden.",
                V1OrganizationsServicesQueryApiEndpoints403ErrorException)
            .local_error("404",
                "Service not found.",
                V1OrganizationsServicesQueryApiEndpoints404ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesQueryApiEndpoints500ErrorException),
        ).execute()

    def query_api_endpoint_list(self,
                                organization_id,
                                service_id,
                                cursor=None,
                                limit=100):
        """Perform a GET request to
        /v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints.

        **Disclaimer:** This beta endpoint is evolving; the API contract may change.
        <br /><br /> Returns all active Query API endpoints for the service.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            service_id (uuid|str): ID of the requested service.
            cursor (str, optional): Cursor returned in `pagination.nextCursor` from
                the previous page.
            limit (int, optional): Maximum number of records to return per page.
                Defaults to 100. Maximum is 100.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("cursor")
                .value(cursor))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesQueryApiEndpointsResponse1.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error.",
                V1OrganizationsServicesQueryApiEndpoints400ErrorException)
            .local_error("403",
                "The request is forbidden.",
                V1OrganizationsServicesQueryApiEndpoints403ErrorException)
            .local_error("404",
                "Service not found.",
                V1OrganizationsServicesQueryApiEndpoints404ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesQueryApiEndpoints500ErrorException),
        ).execute()

    def query_api_endpoint_delete(self,
                                  organization_id,
                                  service_id,
                                  endpoint_id):
        """Perform a DELETE request to
        /v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints/{en
        dpointId}.

        **Disclaimer:** This beta endpoint is evolving; the API contract may change.
        <br /><br /> Deletes a Query API endpoint.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            service_id (uuid|str): ID of the requested service.
            endpoint_id (uuid|str): ID of the requested Query API endpoint.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The Query API endpoint
                was deleted.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints/{endpointId}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("endpointId")
                .value(endpoint_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId400ErrorException)
            .local_error("403",
                "The request is forbidden.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId403ErrorException)
            .local_error("404",
                "Query API endpoint not found.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId404ErrorException)
            .local_error("409",
                "Query API endpoint can not be managed via this API.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId409ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId500ErrorException),
        ).execute()

    def query_api_endpoint_get(self,
                               organization_id,
                               service_id,
                               endpoint_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints/{en
        dpointId}.

        **Disclaimer:** This beta endpoint is evolving; the API contract may change.
        <br /><br /> Returns a Query API endpoint.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            service_id (uuid|str): ID of the requested service.
            endpoint_id (uuid|str): ID of the requested Query API endpoint.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints/{endpointId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("endpointId")
                .value(endpoint_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId400ErrorException)
            .local_error("403",
                "The request is forbidden.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId403ErrorException)
            .local_error("404",
                "Query API endpoint not found.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId404ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId500ErrorException),
        ).execute()

    def query_api_endpoint_update(self,
                                  organization_id,
                                  service_id,
                                  endpoint_id,
                                  body=None):
        """Perform a PUT request to
        /v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints/{en
        dpointId}.

        **Disclaimer:** This beta endpoint is evolving; the API contract may change.
        <br /><br /> Updates a Query API endpoint.

        Args:
            organization_id (uuid|str): ID of the requested organization.
            service_id (uuid|str): ID of the requested service.
            endpoint_id (uuid|str): ID of the requested Query API endpoint.
            body (PublicQueryApiEndpointRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The Query API endpoint
                was updated.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints/{endpointId}")
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("endpointId")
                .value(endpoint_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId400Error3Exception)
            .local_error("403",
                "The request is forbidden.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId403ErrorException)
            .local_error("404",
                "Query API endpoint not found.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId404ErrorException)
            .local_error("409",
                "Query API endpoint can not be managed via this API.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId409ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesQueryApiEndpointsEndpointId500ErrorException),
        ).execute()
