"""openapispecforclickhousecloud.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from openapispecforclickhousecloud.api_helper import (
    APIHelper,
)
from openapispecforclickhousecloud.apis.base_api import (
    BaseApi,
)
from openapispecforclickhousecloud.configuration import (
    Server,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_snapshot_configuration_400_error_exception import (  # noqa: E501
    V1OrganizationsServicesSnapshotConfiguration400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_snapshot_configuration_500_error_exception import (  # noqa: E501
    V1OrganizationsServicesSnapshotConfiguration500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_snapshots_400_error_exception import (  # noqa: E501
    V1OrganizationsServicesSnapshots400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_snapshots_500_error_exception import (  # noqa: E501
    V1OrganizationsServicesSnapshots500ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_snapshots_snapshot_id_400_error_exception import (  # noqa: E501
    V1OrganizationsServicesSnapshotsSnapshotId400ErrorException,
)
from openapispecforclickhousecloud.exceptions.v_1_organizations_services_snapshots_snapshot_id_500_error_exception import (  # noqa: E501
    V1OrganizationsServicesSnapshotsSnapshotId500ErrorException,
)
from openapispecforclickhousecloud.http.http_method_enum import (
    HttpMethodEnum,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_snapshot_configuration_response import (  # noqa: E501
    V1OrganizationsServicesSnapshotConfigurationResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_snapshots_response import (  # noqa: E501
    V1OrganizationsServicesSnapshotsResponse,
)
from openapispecforclickhousecloud.models.v_1_organizations_services_snapshots_snapshot_id_response import (  # noqa: E501
    V1OrganizationsServicesSnapshotsSnapshotIdResponse,
)


class SnapshotApi(BaseApi):
    """A Controller to access Endpoints in the openapispecforclickhousecloud API."""

    def __init__(self, config):
        """Initialize SnapshotApi object."""
        super(SnapshotApi, self).__init__(config)

    def snapshot_get_list(self,
                          organization_id,
                          service_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/services/{serviceId}/snapshots.

        **This endpoint is in beta.** API contract is stable, and no breaking changes
        are expected in the future. <br /><br /> Returns a list of all snapshots for
        the service. The most recent snapshots come first in the list.

        Args:
            organization_id (uuid|str): ID of the organization that owns the snapshot.
            service_id (uuid|str): ID of the service the snapshot was created from.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/snapshots")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesSnapshotsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesSnapshots400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesSnapshots500ErrorException),
        ).execute()

    def snapshot_get(self,
                     organization_id,
                     service_id,
                     snapshot_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/services/{serviceId}/snapshots/{snapshotId}.

        **This endpoint is in beta.** API contract is stable, and no breaking changes
        are expected in the future. <br /><br /> Returns a single snapshot info.

        Args:
            organization_id (uuid|str): ID of the organization that owns the snapshot.
            service_id (uuid|str): ID of the service the snapshot was created from.
            snapshot_id (uuid|str): ID of the requested snapshot.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/snapshots/{snapshotId}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("snapshotId")
                .value(snapshot_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesSnapshotsSnapshotIdResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesSnapshotsSnapshotId400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesSnapshotsSnapshotId500ErrorException),
        ).execute()

    def snapshot_configuration_get(self,
                                   organization_id,
                                   service_id):
        """Perform a GET request to
        /v1/organizations/{organizationId}/services/{serviceId}/snapshotConfiguration.

        **This endpoint is in beta.** API contract is stable, and no breaking changes
        are expected in the future. <br /><br /> Returns the service snapshot
        configuration.

        Args:
            organization_id (uuid|str): ID of the organization that owns the service.
            service_id (uuid|str): ID of the service.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/snapshotConfiguration")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesSnapshotConfigurationResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesSnapshotConfiguration400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesSnapshotConfiguration500ErrorException),
        ).execute()

    def snapshot_configuration_update(self,
                                      organization_id,
                                      service_id,
                                      body=None):
        """Perform a PATCH request to
        /v1/organizations/{organizationId}/services/{serviceId}/snapshotConfiguration.

        **This endpoint is in beta.** API contract is stable, and no breaking changes
        are expected in the future. <br /><br /> Updates the service snapshot
        configuration. Requires ADMIN auth key role. Enables or disables scheduled
        snapshots and sets the cadence; when enabled, gap and timeFrame (in minutes)
        must together be one of the supported (gap, timeFrame) pairs: (30, 1440),
        (60, 2880). Provide at least one of enabled, gap, timeFrame; omit a field to
        leave it unchanged (null is not accepted).

        Args:
            organization_id (uuid|str): ID of the organization that owns the service.
            service_id (uuid|str): ID of the service.
            body (SnapshotConfigurationPatchRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/organizations/{organizationId}/services/{serviceId}/snapshotConfiguration")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("organizationId")
                .value(organization_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("serviceId")
                .value(service_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basicAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(V1OrganizationsServicesSnapshotConfigurationResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request cannot be processed due to a client error. Please verify"
                " your request parameters and try again.",
                V1OrganizationsServicesSnapshotConfiguration400ErrorException)
            .local_error("500",
                "An internal server error has occurred. If this issue persists, pleas"
                "e contact ClickHouse Cloud support for assistance.",
                V1OrganizationsServicesSnapshotConfiguration500ErrorException),
        ).execute()
